

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
   
}


.main_header{
	background-color:rgb(165, 165, 123);
	height: 80px;
	border-bottom: 1px solid #11110c;
	padding-top: 20px;
}
.logo{
	float: left;
    margin-bottom: 50px;
    height: 50px;
    width: 50px;
}
.nav_list{
    float: right;
    padding-top: 10px;;
}
.nav_item {
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
 }
 .nav_item a{	
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration:none;
	color:#000000;
}
.nav_item a:hover {
	color: red;
	text-decoration-line: underline;
}
.nav_item a:active{
	color: red;
}
/*  */


.main_content{
    background-color: rgb(214, 210, 187);
    padding-top: 30px;
}
.box{
    float: left;
    width: 50%;
    width: calc(50% - 20px);
    display: inline-block;
    background-color: rgb(231, 227, 216);
    margin: 10px;
}
.box__thumbnail {
    /* height: 300px; */
    
    
}
.box__thumbnail img {
    float: right;
    width: 280px;
    height: 300px;
    object-fit:cover;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    
}

.box__content{
    padding: 20px;
    max-width: 230px;
    text-decoration: none;
    
    
}

.box__content h1{;
    font-size: 26px;
    color: blue;
    text-decoration:none;

}
.box__content p{
    margin-top: 20px;
    line-height: 20px;
    text-decoration: none;


}
/* section-2 */


.product{
    float: left;
    width: 50%;
    width: calc(33.333% - 20px);
    display: inline-block;
    background-color: rgb(231, 227, 216);
    margin: 10px;
}
.product__thumbnail {
    
    
}
.product__thumbnail img {
    float: left;
    max-width: auto;
    height: 300px;
    object-fit:cover;
    
}

.product__content{
    padding: 20px;
    max-width: auto;
    text-decoration: none;
    
    
}

.product__content h1{;
    font-size: 26px;
    color: blue;
    text-decoration:none;

}
.product__content p{
    margin-top: 20px;
    line-height: 20px;
    text-decoration: none;
    color: black;


}